.delivery{
  display: flex;
  &__bg {
    background-image: url("../img/Pizza_delivery.png");
    background-repeat: no-repeat;
    background-position: 79% 95%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 7.5rem;
    width: calc(100% - 7.1rem);
  }
  &__text{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    text-transform: capitalize;
  }
}

.salads{
  display: flex;
  margin-top: .2rem;
  &__bg{
    background-image: url("../img/UA_UXSalads.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 24% 93%;
    width: calc(100% - 7.1rem);
    height: 7.4rem;
  }
  text-decoration: none;
  &__text{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: capitalize;
  }
}

.deserts{
  display: flex;
  margin-top: .2rem;
  &__bg{
    background-image: url("../img/Desserts.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 16% 15%;
    width: calc(100% - 7.1rem);
    height: 7.4rem;
  }
  text-decoration: none;
  &__text{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: capitalize;
  }

  &__desc{
    color: #d2d3d5;
    left: .7rem;
    position: relative;
    top: 1.1rem;
  }
}

.green{
  width: 7.1rem;
  height: 7.4rem;
  background: #acd8ad;
  &__right{
    font-size: 1.4rem;
    position: relative;
    left: 3rem;
    top: 2.8rem;
    color: white;
  }
}

.delivery_green{
  height: 7.5rem;
}

.sectionNeque{
  display: flex;
  justify-content: space-between;
  padding: 23px 0 0 .7rem;
  &__header{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #3f4043;
  }

  &__desc{
    position: relative;
    left: .8rem;
    top: .4rem;
    display: inline;
    color: #d2d3d5;
  }
}

.menu_logo{
  display: none;
}

.tincidunt{
  padding: 1.3rem 0 0 0;
  &__div {
    background: #3f4043;
    padding: 1rem 0 .7rem 6%;
  }
  &__text{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #a5cea6;
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline;
    font-size: 2rem;
  }
}

.listnames{
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 1.7rem .8rem 1.7rem;
  &__header{
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    top: .6rem;
    color: #3f4043
  }
}

.listdiv{
  margin-bottom: .6rem;
  &__li{
    padding: 0 1.6rem;
    margin-bottom: .3rem;
  }

  &__liDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  font-family: "Lato", sans-serif;
  &__head{
    font-size: 1.3rem;
    display: inline;
    color: #3f4043
  }

  &__head::before{
    content: "\2022";
    font-size: .8rem;
    margin-right: .2rem;
    position: relative;
    bottom: .2rem;
  }

  &__span{
    font-size: 1.4rem;
    font-weight: 700;
    color: #3f4043
  }

  &__p{
    color: #3f4043;
    margin-top: .5rem;
    margin-bottom: 1.1rem;
  }
}

.liname2{
  margin-top: -6px;
  &__icon{
    position: relative;
    right: .6rem;
    top: .3rem;
  }
}

.vestibulum{
  padding: 1.3rem 0 0 0;
  margin-top: 1.7rem;
  margin-bottom: .5rem;
  &__div {
    background: #acd8ad;
    padding: 1rem 0 .7rem 6%;
  }
  &__text{
    position: relative;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline;
    font-size: 2rem;
  }
}

.augue{
  position: relative;
  top: .2rem;
}

.augue_icon{
  position: relative;
  top: -3px;
  left: 2px;
}

.pharetra_icon{
  margin: .1rem .5rem .3rem 0;
}

.footer{
  margin-top: 5rem;
  &__div{
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background: #acd8ad;
    color: #fff;
    font-size: 1.2rem;
  }

  &__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__p{
    margin-bottom: .6rem;
  }
}

.best{
  position: relative;
  left: .3rem;
}
