@import "reset";
/** if you have separate file for variables and mixins, or fonts - import it here **/

html{
  font-size: 10px;
  //overflow-x: hidden;
}

$darkGray: #373c3f;
$burgerGray: #202529;

@import "header";
@import "content";

/** MEDIA **/
@import "media/all-media";